body {
  background-color: black;
  }

h1 {
  color: #00fd00;
  }

h2 {
  color: #00fd00;
  }

p {
  color: #00fd00;
  }

ul {
  color: #00fd00;
  }

ol {
  color: #00fd00;
  }

li {
  color: #00fd00;
  }

a {
  color: #00fd00;
  text-decoration: none
  }
