body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  }

h1 {
  color: #00fd00;
  }

h2 {
  color: #00fd00;
  }

h3 {
  color: #00fd00;
  }

table {
  color: #00fd00;
  margin-left:auto;
  margin-right:auto;
  background-color: white;
  }

th {
  color: #00fd00;
  }

td {
  color: #00fd00;
  border= 1px solid black;
  text-color: black;
  text-align: center;
  vertical-align: middle;
  }

p {
  color: #00fd00;
  }

ul {
  color: #00fd00;
  }

ol {
  color: #00fd00;
  }

li {
  color: #00fd00;
  }

a {
  color: #00fd00;
  text-decoration: none
  }

title {
  color: #00fd00;
  }
